@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  margin: 0;
}
img {
  width: 500px;
}
/* ----LANDING----- */

.particles-js {
  background: #4f6272;
  height: 100vh;
}

.inlineColor {
  color: #cf1259;
}

.subHeader {
  font-size: 25pt;
  font-weight: 100;
}

.welcome {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100vw;
  height: 100vh;
  font-weight: 400;
  font-family: 'Roboto', sans-serif;
}

.welcomeText {
  color: white;
  font-size: 50px;
  line-height: 50px;
  padding-left: 1.5em;
  font-weight: 600;
}

.welcomeButtonContainer {
  margin-right: 12em;
}

.welcomeButton {
  display: flex;
  height: 85px;
  width: 225px;
  border: 2px solid white;
  color: white;
  text-transform: uppercase;
  font-size: 15pt;
  letter-spacing: 2px;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background-color: #404e5c;
  outline: none;
}

.buttonText {
  letter-spacing: 1px;
  margin-left: 1em;
}

.buttonArrow {
  height: 25px;
  width: 50px;
  position: relative;
  transition: all 0.45s ease-Out;
}

#buttonAnim {
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

#buttonAnim .buttonText {
  position: relative;
  transition: all 0.45s ease-Out;
}

#colorAnim {
  width: 0%;
  height: 0%;
  opacity: 0;
  line-height: 40px;
  position: absolute;
  transition: all 0.5s ease-Out;
  background-color: #cf1259;
}

#buttonAnim:hover #colorAnim {
  width: 200%;
  height: 500%;
  opacity: 1;
}

/* ----NAVBAR----- */
.nav-bar {
  display: flex;
  background-color: #404e5c;
  height: 75px;
  justify-content: right;
  align-items: center;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%;
  z-index: 9999; /* No content passes through navbar */
}

.nav-links {
  padding-left: 3em;
}

.nav-links button {
  font-family: 'Josefin Sans', sans-serif;
  display: inline-block;
  margin: 1.5em;
  text-transform: uppercase;
  background: none;
  border: none;
  cursor: pointer;
  outline: none;
  font-size: medium;
  transition: all 0.45s ease-Out;
}

.nav-links button:hover {
  color: #cf1259;
  transition: all 0.45s ease-in;
}

.active {
  color: #cf1259;
}

.inactive {
  color: white;
}
/* ----ABOUT----- */

.aboutContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  margin-top: 20em;
}

.headerContainer {
  padding-top: 1.5em;
  padding-left: 5em;
}

.header {
  color: #b7c3f3;
  font-size: 50px;
  font-family: 'Josefin Sans', sans-serif;
  text-transform: uppercase;
  border-bottom: 3px solid #404e5c;
  padding-bottom: 7.5px;
  font-weight: 600;
  letter-spacing: 1.7px;
}

.aboutContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.aboutTextCont {
  display: flex;
  align-content: flex-start;
  justify-content: space-between;
  margin-left: 6.5em;
  margin-bottom: 5em;
}

.aboutText {
  text-align: left;
  font-size: 20pt;
  white-space: pre-line;
  --text-opacity: 1;
  color: #2d3748;
  color: rgba(45, 55, 72, var(--text-opacity));
  line-height: 1.5em;
  letter-spacing: 0.5px;
  font-family: 'Dosis', sans-serif;
}

.imageGrid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
  background: #4f6272;
}

.imageContainer {
  display: flex;
  padding: 1.5em;
  opacity: 0.5;
  transition: 0.45s ease-out;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 50px;
}

.imageContainer img {
  height: 128px;
  width: 128px;
}

.imageContainer p {
  display: flex;
  opacity: 0;
  font-family: 'Josefin Sans', sans-serif;
  background-color: black;
  border: solid black transparent transparent transparent;
  border-radius: 2.5px;
  text-align: center;
  padding: 5px;
  color: white;
  transition: 0.4s ease-in;
}

.imageContainer p::after {
  content: ' ';
  position: absolute;
  top: 25.56%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: black transparent transparent transparent;
}

.imageContainer:hover p {
  opacity: 1;
  transition: 0.4s ease-out;
}

.imageContainer:hover {
  transform: scale(1.25);
  opacity: 1;
  transition: 0.45s ease-out;
}

.skillsHeader {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-right: 2.5em;
  margin-top: 10em;
}

.skillsHeader h1 {
  font-family: 'Josefin Sans', sans-serif;
  text-transform: uppercase;
  border-bottom: 3px solid #404e5c;
  letter-spacing: 1.7px;
  color: #b7c3f3;
  text-align: center;
}
.skillsArrow {
  height: 150px;
}

/* ----PORTFOLIO----- */

.portfolioContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 90vh;
  background-color: whitesmoke;
}
/* ----CONTACT----- */

.contactContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 90vh;
  background-color: #4f6272;
  color: #b7c3f3;
}
