@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Roboto&display=swap');

body {
  margin: 0;
}
img {
  width: 500px;
}
/* ----LANDING----- */

.particles-js {
  background: #4f6272;
  height: 100vh;
}

.inlineColor {
  color: #cf1259;
}

.welcome {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100vw;
  height: 90vh;
  color: white;
  font-size: 50px;
  font-family: 'Roboto', sans-serif;
  line-height: 50px;
  text-align: center;
  z-index: 1;
}

/* ----NAVBAR----- */
.nav-bar {
  display: flex;
  background-color: #404e5c;
  /* padding-top: 5px; */
  height: 75px;
  justify-content: right;
  align-items: center;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%;
  z-index: 9999; /* No content passes through navbar */
}

.nav-links {
  padding-left: 3em;
}

.nav-links button {
  font-family: 'Josefin Sans', sans-serif;
  display: inline-block;
  margin: 1.5em;
  text-transform: uppercase;
  background: none !important;
  border: none;
  padding: 0 !important;
  /* text-decoration: none !important; */
  cursor: pointer;
  outline: none;
  font-size: medium;
}

.nav-links button:hover {
  color: #cf1259;
}

.active {
  color: #cf1259;
}

.inactive {
  color: white;
}
/* ----ABOUT----- */

.aboutContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  /* width: 100vw;
  height: 90vh; */
}

.divider {
  position: relative;
  bottom: 15px;
  height: 3px;
  width: 150px;
  margin-bottom: 50px;
  background-color: #404e5c;
  /* background: radial-gradient(
    circle,
    rgba(0, 0, 0, 1) 0%,
    rgba(60, 60, 60, 1) 50%,
    rgba(255, 255, 255, 1) 100%
  ); */
}

.header {
  padding-top: 2.5em;
  color: #b7c3f3;
  font-size: 50px;
  font-family: 'Josefin Sans', sans-serif;
  text-transform: uppercase;
}

.aboutContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-right: 2.5em;
  margin-left: 2.5em;
  font-family: 'Roboto', sans-serif;
}

.imageGrid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
  margin-top: 2.5em;
}

.imageContainer {
  display: flex;
  height: 128px;
  width: 128px;
  margin: 1.5em;
}
/* ----PORTFOLIO----- */

.portfolioContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 90vh;
}
/* ----CONTACT----- */

.contactContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 90vh;
  background-color: #4f6272;
  color: #b7c3f3;
}
